/* #182628
#65ccb8
#57ba98
#3b945e
#f2f2f2
 */

 body {
    background-color: #182628;
    font-family: Tahoma, sans-serif;
    margin: 0;
    min-width: 1000px
 }

 /* HOME PAGE */
 h1 {
    color: #65ccb8;
    font-weight: 200;
    border: #65ccb8 solid 2px;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    width: 400px;
    margin: 30px auto;
    clear: both;
 }
 #homePageAllNavs {
    display: flex;
    justify-content: center;
 }
 .homePageNavContainer {
    float: left;
    display: flex;
    margin: 0 30px;
    position: relative;
    width: 400px;
    height: fit-content;
    padding: 10px;
    border: 2px white solid;
 }
 .homePageNavImg {
    display: flex;
    width: auto;
    height: 300px;
    position:relative;
    background-color:#65ccb8;
 }
 .homePageNavLabel {
    margin: auto auto 10px;
    width: 80%;
    text-align: center;
    padding: 10px;
    border: white solid 1px;
    background-color: #182628;
    opacity: 50%;
 }
 .homePageNavDescr {
    margin: 10px 0;
    font-weight: 100;
    font-size: 0.9em;
    text-align: justify;
 }
 a.homePageNavLink, a.homePageNavLink:visited, a.homePageNavLink:active, a.homePageNavLink:hover {
    color: white;
    text-decoration: none;
 }

 #footer {
    position: absolute;
    width: 100%;
    bottom: 5px;
    background-color: #3b945e;
    color: white;
    padding: 10px;
    font-size: 0.8em;
 }