/* 
White: #fdfdfa
Grey: #eeeeee
Orange: #ed5b2d
Yellow: #ffce6d
Black: #000000
 */

 body {
    background-color: #fdfdfa;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 }

 /* HOME PAGE */
   /* Title */
 #titleStreak {
   background-image: url("./assets/other/orangeStreak.png");
   background-size: cover;
   background-position: center;
   width: 500px;
   max-width: 90%;
   height: 110px;
   z-index: 1;
   position: absolute;
   top: 20px;
   left: 50%;
   transform: translateX(-50%);
 }
 #titleText {
   font-family: "Oswald", sans-serif;
   color: #182628;
   font-weight: 400;
   font-size: 4.5em;
   z-index: 2;
   position: absolute;
   top: 20px;
   left: 50%;
   transform: translateX(-50%);
   margin: 0;
 }
 #landingPageTitle {
   margin: 0 auto;
   height: 200px;
 }
 #landingPageSubtitle h2 {
   text-wrap: balance;
   font-size: 20px;
   font-weight: 100;
   position: absolute;
   width: 50vw;
   text-align: center;
   top: 130px;
   left: 50%;
   transform: translateX(-50%);
 }
 @media (max-width: 900px) {
   #landingPageSubtitle h2 {
      width: 80%;
      font-size: 16px;
   }
 }

   /* Icons */

.icon {
   position: fixed;
   height: 100px;
   width: 100px;
   background-size: cover;
   background-position: center;
   z-index: -1;
}
@media (max-width: 1160px) {
   .icon {
      visibility: hidden;
   }
}
#icon1 {
   background-image: url("./assets/other/icon1.png");
   transform: rotate(20deg);
   top: 20px;
   left: 15px;
}
#icon2 {
   background-image: url("./assets/other/icon2.png");
   transform: rotate(-20deg);
   height: 150px;
   bottom: 70px;
   right: 15px;
}
#icon3 {
   background-image: url("./assets/other/icon3.png");
   height: 200px;
   bottom: 60px;
   left: 15px;
}
#icon4 {
   background-image: url("./assets/other/icon4.png");
   top: 20px;
   right: 15px;
   width: 150px;
   height: 150px;
}

   /* Navs */
 #homePageAllNavs {
   margin: 0 100px;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
 }
 .homePageNavContainer {
   display: flex;
   margin: 10px 20px;
   position: relative;
   max-width: 300px;
   height: fit-content;
 }
 .homePageNavLink:hover {
   padding: 10px;
   color: #182628;
   text-decoration: none;
   border-style: inset;
   border: 1px #182628 dashed !important;
 }
 .homePageNavImg {
    width: 300px;
    height: 225px;
    position:relative;
    background-color:#6082B6;
 }
 @media (max-width: 600px) {
   .homePageNavImg {
      max-width: 90vw;
   }
 }
 .navStreak {
   margin: 10px auto;
   width: 100%;
   height: 40px;
   background-image: url("./assets/other/yellowStreak.png");
   background-size: cover;
   background-position: center;
 }
 .navName {
   width: 90%;
   font-size: 23px;
   position: absolute;
   text-align: center;
   left: 50%;
   transform: translateX(-45%);
   bottom: 27px;
 }
 a.homePageNavLink, a.homePageNavLink:visited, a.homePageNavLink:active {
    padding: 10px;
    color: #182628;
    text-decoration: none;
    border: 1px solid #fdfdfa;
 }


/* SIMULATIONS PAGE */
   /* Home Button */

#homeButton, #homeButton:active, #homeButton:visited {
   color: #000000;
   font-weight: 400;
   border: #000000 solid 1px;
   border-radius: 3px;
   padding: 5px;
   position: absolute;
   top: 35px;
   left: 10%;
   z-index: 3;
   text-decoration: none;
}

@media (max-width: 1200px) {
   a#homeButton {
      position: absolute;
      top: 150px;
      left: 50%;
      transform: translateX(-50%);
      width: fit-content;
      text-align: center;
   }
}
   /*  Show instructions button */
#instructionsButton {
   font-family: "Open Sans", sans-serif;
   font-size: 16px;
   color: #000000;
   background-color: white;
   border: #000000 solid 1px;
   border-radius: 3px;
   padding: 5px;
   position: absolute;
   z-index: 3;
   top: 35px;
   right: 3%;
}  
#instructionsButton:hover {
   cursor: pointer;
} 
#instructionsButton:active {
   cursor: default;
} 

   /* Header */

#simHeaderContainer {
   position: relative;
}
#simulationStreak {
   background-image: url("./assets/other/yellowStreak.png");
   background-size: cover;
   background-position: center;
   width: 500px;
   height: 70px;
   z-index: 1;
   position: absolute;
   left: 50%;
   top: 15px;
   transform: translateX(-50%);
}
 #simulationTitle {
   font-family: "Oswald", sans-serif;
   color: #182628;
   font-weight: 400;
   font-size: 2.5em;
   position: relative;
   z-index: 2;
   margin-top: 20px;
   margin-bottom: 5px;
   text-align: center;
 }
 #simulationSubheader {
   font-size: 15px;
   padding: 5px;
   font-weight: 500;
   width: 98%;
   align-self: center;
   background-color: #eeeeee;
   text-align: center;
   margin: 10px 0;
 }

 @media(max-width: 735px) {
   #simulationTitle {
      font-size: 2em;
   }
   #simulationStreak {
      height: 60px;
      width: 90%;
   }
 }
 @media(max-width: 500px) {
   #simulationTitle {
      font-size: 1.5em;
   }
   #simulationStreak {
      height: 45px;
   }
 }

 /* Simulation content container */
 #simulationContentContainer {
   position: relative;
   margin-bottom: 15px;
   display: flex;
   justify-content: space-evenly;
 }

 #p5Canvas {
   border: black dotted 2px;
 }

 #simIconContainer {
   position: relative;
   top: 396px;
   transform: translateY(-50%);
   width: 13vw;
   padding: 10px;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
 }
.simIcon {
   width: 60%;
} 
@media (max-width: 1399px) {
   #simIconContainer {
      display: none;
   }
 }

 /* Simulation */
 #simCenterContainer {
   position: relative;
   display: flex;
   flex-direction:column;
   height: 659px;
   width: 922px;
 }
 #errorMessage {
   position: absolute;
   top: 250px;
   left: 50vw;
   transform: translateX(-50%);
   text-align: center;
   margin: 10px;
   width: 90%;
   text-wrap: balance;
 }
 @media (max-width: 1200px) {
   #p5Canvas, #helpContent, #simulationSubheader, #instructionsButton {
      display: none;
   }
 }
 @media (min-width: 1201px) {
   #errorMessage {
     display: none;
   }
}

/* igl (bruh) */


/* Styles the whole slider */
.mySliders{
   width: 400px;
   background-color: transparent;
   /* Removes some defaults */
   -webkit-appearance: none;
 }
 
 /* These styles affect what happens when the cursor is focused on the slider (i.e. clicking it) */
 .mySliders:focus {
   /* Stops the default outline showing up */
   outline: none;
 }
 
 /* This is the "track" that the slider sits on  */
 .mySliders::-webkit-slider-runnable-track {
   background: #6282FF;
   height: 10px;
   -webkit-appearance: none;
   
   /* Turns the cursor into the hand pointer icon when hovering over the slider  */
   cursor: pointer;
   
 }
 
 /* This is the moveable bit of the slider, known as the "thumb"*/
 .mySliders::-webkit-slider-thumb {
   width: 25px;
   height: 25px;
   background: #FFCE6D;
   cursor: pointer;
   -webkit-appearance: none;
   
 /*   /* negative top padding moves it up */
   margin-top: -6px;
   /* Border radius gives rounded corners, if they're big enough, you end up with circles */
   border-radius: 8px; 
 }
 

   /* help section */
 #helpContent {
   position: relative;
   padding: 10px;
   line-height: 20px;
   top: 396px;
   transform: translateY(-50%);
   width: 13vw;
   height: fit-content;
   font-size: 16px;
   font-weight: 500;
   white-space: pre-wrap;
   background-color: #eeeeee;
   color: #182628;
   z-index: 1;
   box-shadow: 5px 5px #6082B6;
 }

 @media (max-width: 1399px) {
   #helpIcon {
      visibility: hidden;
   }
 }

 /* Instruction Window */
#instructionsContainer:hover {
   cursor: default;
}
@media (max-width: 1201px) {
   #instructionsContainer {
      visibility: hidden;
   }
 }
#simInstructionExitButton:hover {
   cursor: pointer;
}
#simInstructionExitButton:active {
   cursor: default;
}
#greyBackground {
   position: absolute;
   top: 0;
   z-index: 10;
   width: 100%;
   height: 100%;
   background-color: black;
   opacity: 80%;
}
#instructionImg {
   position: absolute;
   top: 30px;
   width: 922px;
   height: 525px;
   left: calc(50% + 2px);
   transform: translateX(-50%);
   z-index: 11;
}
#simInstructionExitButton {
   font-family: "Oswald", sans-serif;
   font-size: 25px;
   width: 200px;
   height: 55px;
   position: absolute;
   left: calc(50% + 2px);
   transform: translateX(-50%);
   top: 570px;
   z-index: 11;
}

 /* MISC */
 #footer {
   margin-top: auto;
   background-color: #eeeeee;
   color: #182628;
   padding: 10px;
   font-size: 0.8em;
}