/* #182628
#65ccb8
#57ba98
#3b945e
#f2f2f2

#6082B6
 */

 body {
    background-color: #839dc6;
    font-family: Tahoma, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 }

 /* HOME PAGE */
 h1 {
    color: #182628;
    font-weight: 400;
    border: #182628 solid 2px;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    width: 400px;
    margin: 30px auto;
    clear: both;
 }
 @media (max-width: 410px) {
    h1 {
        width: 80%;
    }
 }
 #homePageAllNavs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
 }
 .homePageNavContainer {
    display: flex;
    margin: 10px 20px;
    position: relative;
    max-width: 400px;
    height: fit-content;
 }
 .homePageNavLink:hover {
   padding: 10px;
   color: #182628;
   text-decoration: none;
   border-style: inset;
   border: 1px #182628 dashed !important;
 }
 .homePageNavImg {
    display: flex;
    height: 300px;
    position:relative;
    background-color:#6082B6;
 }
 .homePageNavLabel {
    margin: auto auto 10px;
    font-size: 1.5em;
    width: 80%;
    text-align: center;
    padding: 10px;
    background-color: #18262825;
 }
 .homePageNavDescr {
    margin: 10px 0;
    font-weight: 100;
    font-size: 0.9em;
    text-align: justify;
 }
 a.homePageNavLink, a.homePageNavLink:visited, a.homePageNavLink:active {
    padding: 10px;
    color: #182628;
    text-decoration: none;
    border: 1px solid #839dc6;
 }

 #footer {
    float: left;
    margin-top: auto;
    background-color: #18262825;
    color: #182628;
    padding: 10px;
    font-size: 0.8em;
 }

 iframe {
   float: left;
   margin: 30px auto;
   transform:scale(.75);
   transform-origin: top;
 }
 #iframeContainer {
   width: 1050px;
   height: 600px;
 }
 #errorMessage {
   float: left;
   text-align: center;
   margin: 10px;
   display: block;
 }

 @media (max-width: 1399px) {
   #iframeContainer {
      height: 0;
   }
   iframe {
      display: none;
    }
    #errorMessage {
      position: relative;
      top: 50%;
      text-align: center;
    }
 }

 @media (min-width: 1400px) {
    #errorMessage {
      display: none;
    }
 }